/node_modules
/public/hot
/public/storage
/public/uploads
/public/images
/storage/*.key
/storage/app/public/images
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

resources/views/vendor/l5-swagger/*
storage/api-docs/api-docs.json
phpunit.xml
